body {
  background: #191818;/* match border color */
  text-align: center;
}

.link {
  color: #f4efef;
}
/*small {
  color: #333;
}*/

.logo {

  font: 100px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #fefefe;
  /*text-transform: uppercase;*/
  letter-spacing: -4px;
}

/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}

/* stuff for 1st word */
.logo .word1 {
  /*color: #dc006c;*/
  margin-right: -38px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
}
.logo .word1:before {
  right: -4px;/* would be left, but we flipped the word */
  top: -9px;
  border-top-color: #191818;/* match background color */
  border-right-color: #191818;/* would be left, but we flipped the word */
}
.logo .word1:after {
  left: 17px;/* would be right, but we flipped the word */
  bottom: -15px;
  border-bottom-color: #191818;
  border-left-color: #191818;/* would be right, but we flipped the word */
}

/* stuff for 2nd word */
.logo .word2 {
  z-index: 0;/* stack 2nd word below */
  text-transform: uppercase;
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
.logo .word2:before {
  left: -4px;
  top: -6px;
  border-top-color: #191818;
  border-left-color: #191818;
}
.logo .word2:after {
  right: -4px;
  bottom: 4px;
  border-bottom-color: #191818;
  border-right-color: #191818;
}

p {
  font: 20px 'Arial Narrow', sans-serif;
  color: #d6d1d1;
}

.form-container {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 10% auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}















