<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>brokenSparkle</title>
  <% if logged_in? && current_user%>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
         <a class="navbar-brand" href="/">brokenSparkle</a>
      </div> -->
    <ul class="nav navbar-nav">
      <a class="link" href="/">Home</a></li>
      <a class="link" href="/users/<%= current_user.id %>"><%= current_user.username  %></a>
      <a class="link" href="/logout">Logout</a></li>
    </ul>
   </div>
  </nav>
      </ul>
        <% else %>
          <nav class="navbar navbar-default">
            <div class="container-fluid">

              <ul class="nav navbar-nav">

                <a class="link" href="/">Home</a>

                <a class="link" href="/users/new">Register</a>

                <a class="link" href="/login">Login</a>
             </ul>
          </div>
        </nav>
      </ul>
     <% end %>
   </nav>
</head>
<body>
  <%= yield %>
</body>
</html>